# Python cache
App/utils/__pycache__/
*.py[cod]
*.pyc


# VSCode settings
.vscode/

# Notebook checkpoints
.ipynb_checkpoints/

# MacOS 系統檔案
.DS_Store

# Model files - 如果你只想讓 Git LFS 管理它們
.DS_Store
Models/Random_Forest/AMAZON_LTL/rf_AMAZON_LTL.pkl
Models/Random_Forest/AMAZON_LTL/vendor_encoder_AMAZON_LTL.pkl