# Python cache
App/utils/__pycache__/
*.py[cod]
*.pyc


# VSCode settings
.vscode/

# Notebook checkpoints
.ipynb_checkpoints/

# MacOS 系統檔案
.DS_Store

# Model files - 如果你只想讓 Git LFS 管理它們
.DS_Store
Models/Random_Forest/AMAZON_UPS_PARCEL/rf_AMAZON_UPS_PARCEL.pkl
Models/FT_Transformer/AMAZON_FREIGHT/model_artifacts/AMAZON_FREIGHT_preprocessing.pkl
Models/FT_Transformer/AMAZON_LTL/model_artifacts/AMAZON_LTL_preprocessing.pkl
Models/FT_Transformer/AMAZON_UPS_PARCEL/model_artifacts/AMAZON_UPS_PARCEL_preprocessing.pkl
Models/FT_Transformer/ESTES/model_artifacts/ESTES_preprocessing.pkl
Models/FT_Transformer/HOUR_LOOP_FEDEX_PARCEL/model_artifacts/HOUR_LOOP_FEDEX_PARCEL_preprocessing.pkl
Models/FT_Transformer/UBER_LTL/model_artifacts/UBER_LTL_preprocessing.pkl
Models/FT_Transformer/WWE_LTL/model_artifacts/WWE_LTL_preprocessing.pkl
Models/FT_Transformer/WWE_PARCEL/model_artifacts/WWE_PARCEL_preprocessing.pkl
Models/Random_Forest/AMAZON_FREIGHT/rf_AMAZON_FREIGHT.pkl
Models/Random_Forest/AMAZON_FREIGHT/vendor_encoder_AMAZON_FREIGHT.pkl
Models/Random_Forest/AMAZON_LTL/rf_AMAZON_LTL.pkl
Models/Random_Forest/AMAZON_LTL/vendor_encoder_AMAZON_LTL.pkl
Models/Random_Forest/AMAZON_UPS_PARCEL/vendor_encoder_AMAZON_UPS_PARCEL.pkl
Models/Random_Forest/ESTES/rf_ESTES.pkl
Models/Random_Forest/ESTES/vendor_encoder_ESTES.pkl
Models/Random_Forest/HOUR_LOOP_FEDEX_PARCEL/rf_HOUR_LOOP_FEDEX_PARCEL.pkl
Models/Random_Forest/HOUR_LOOP_FEDEX_PARCEL/vendor_encoder_HOUR_LOOP_FEDEX_PARCEL.pkl
Models/Random_Forest/UBER_LTL/rf_UBER_LTL.pkl
Models/Random_Forest/UBER_LTL/vendor_encoder_UBER_LTL.pkl
Models/Random_Forest/WWE_LTL/rf_WWE_LTL.pkl
Models/Random_Forest/WWE_LTL/vendor_encoder_WWE_LTL.pkl
Models/Random_Forest/WWE_PARCEL/rf_WWE_PARCEL.pkl
Models/Random_Forest/WWE_PARCEL/vendor_encoder_WWE_PARCEL.pkl